Options +FollowSymLinks
RewriteEngine On

# Basic PHP settings
php_flag display_errors on
php_value error_reporting E_ALL

# Allow access to all files
<FilesMatch ".*">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Prevent viewing of .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Prevent viewing of .git directory
RedirectMatch 404 /\.git.*$ 

# PHP Settings
php_value include_path ".:/usr/lib/php:/usr/local/lib/php"
php_value extension_dir "/usr/local/lib/php/extensions"
php_value date.timezone "Asia/Muscat"

# Load PDO Extensions
php_extension pdo.so
php_extension pdo_mysql.so 